<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>If & For</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>

<body class="exercicio">

    <div id="app">
        <p v-for='(aluno,i) in alunos'>
            {{i+1}} {{aluno.nome}} {{aluno.nota}} 
            <span v-if='aluno.nota>=9'>quadro de honra</span>
            <span v-else-if='aluno.nota>=7'>Aprovado</span>
        </p>
        <ul style='list-style: none;'>
            <li v-for='n in alunos'>{{n.nome}}
                <span v-show="n>=4"></span>
            </li>
        </ul>
    </div>

    <script>

        const obj={
            el:'#app',
            data:{
                alunos:[
                    {nome:'ana',nota:8.5},
                    {nome:'bia',nota:9.5},
                    {nome:'carlos',nota:5.5},
                    {nome:'daniel',nota:6.5},
                ]
            }
        }

        new Vue(obj)

    </script>
</body>

</html>